**/node_modules

**/.DS_Store

src/public/js/**/*.js
src/public/js/**/*.map
src/public/css/**/*.css

src/public/css/less/_background-svg-sprite.less
src/public/css/less/_iconfont.less

src/public/iconfont/iconfont.*

src/public/image/background-sprite.svg

src/index.html
